.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: aliceblue;
  background: #ff0084; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button {
  color: #ffffff;
  padding: 5px 25px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 15px;
  background-color: #03203c;
  border-radius: (10px, 5px, 7px, -9px);
}
.App > button:hover {
  background: #3dbe29;
}
